@import './base/reset.css';
@import './base/common.css';
@import './base/logo.css';
@import './base/btns.css';
@import './base/titles.css';

@import './utils/root.css';
@import './utils/section.css';
@import './utils/container.css';

@import './utils/visualy-hiden.css';

@import './components/header.css';
@import './components/navigation.css';
@import './components/contacts.css';
@import './components/hero.css';
@import './components/advantages.css';
@import './components/what-we-do.css';
@import './components/our-team.css';
@import './components/social.css';
@import './components/customers.css';
@import './components/footer.css';
@import './components/footer-form.css';
@import './components/modal.css';
@import './components/portfolio.css';
@import './components/overlay.css';
/* Specification */
/* Header section */
/* Logo */
/* Navigation */
/* .menu {
  display: flex;
} */
/* Contacts */

/* Hero section  */

/* Services */

/* Services example */

/* .about {
  padding-top: 0;
} */

/* Team */

/* Footer */

/* Portfolio */

/* Overlay */
/* Buttons */

/* Modal */

/* Examples */

/* .list-ex-port {
  list-style: none;
} */

/* .link-project {
  text-decoration: none;
} */
