.link-logo {
  margin-right: 76px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 99%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-iris);
}
.link-title-primary {
  color: var(--secondary-txt-color);
}
.link-title-secondary {
  color: var(--color-cloud);
}
.footer-logo {
  display: inline-block;
  /* padding: 0; */
  margin-bottom: 16px;
}
