.social-item {
  background-color: var(--cta-color);
  border-radius: 50%;
  transition: background-color var(--transition-dur-and-func);
}
.social-link {
  display: flex;
}
.team-social-link {
  padding: 12px;
}
.footer-social-link {
  padding: 8px;
}

.social-item:hover,
.social-item:focus {
  background-color: var(--color-ocean);
}
.social-icon {
  fill: var(--txt-color-dark-theme);
}
.social-list {
  display: flex;
}
.team-social-list {
  gap: 24px;
  justify-content: center;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
